[submodule "packages/contract"]
	path = packages/contract
	url = git@github.com:prosopo/contract.git
	branch = develop
[submodule "packages/procaptcha"]
	path = packages/procaptcha
	url = git@github.com:prosopo/procaptcha.git
	branch = develop
[submodule "packages/procaptcha-react"]
	path = packages/procaptcha-react
	url = git@github.com:prosopo/procaptcha-react.git
	branch = develop
[submodule "packages/provider"]
	path = packages/provider
	url = git@github.com:prosopo/provider.git
	branch = develop
[submodule "packages/common"]
	path = packages/common
	url = git@github.com:prosopo/common.git
	branch = develop
[submodule "packages/datasets"]
	path = packages/datasets
	url = git@github.com:prosopo/datasets.git
    branch = develop
[submodule "demos/client-example"]
	path = demos/client-example
	url = git@github.com:prosopo/client-example.git
	branch = develop
[submodule "demos/demo-nft-marketplace"]
	path = demos/demo-nft-marketplace
	url = git@github.com:prosopo/demo-nft-marketplace.git
	branch = develop
[submodule "demos/client-example-server"]
	path = demos/client-example-server
	url = git@github.com:prosopo/client-example-server.git
[submodule "packages/api"]
	path = packages/api
	url = git@github.com:prosopo/api.git
[submodule "packages/server"]
	path = packages/server
	url = git@github.com:prosopo/server.git
